{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block container %}

{% include 'mainapp/includes/inc_mainmenu.html' %}

<div class="container">
    {% include 'mainapp/includes/inc_podmenu.html' %}
    <div class="main-product">
        <img src="/media/{{ product.image }}" alt="">
    </div>
    <div class="shortDescriptiondiv">
        <span class="cat_name">{{ product.category }}</span>
        <span class="product_name">{{ product.short_desc }}</span>
        <p class="shortDescription">{{ product.desription }}</p>
        <span class="hot_product_price">Всего за {{ product.price }} руб.</span>
        <a href="{% url 'basket:add' product.pk %}">Купить {{ product.short_desc }}</a>
    </div>
    <div class="tablecontainer">
            <h4>Характеристики товара</h4>
            <table id="table-style">
                <tr>
                    <td>
                        <b>Название двигателя:</b>
                    </td>
                    <td>
                        <i>5-ти цилиндровый турбированный</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Тип привода:</b>
                    </td>
                    <td>
                        <i>Полный привод</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Кол-во цилиндров:</b>
                    </td>
                    <td>
                        <i>4</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Объем двигателя:</b>
                    </td>
                    <td>
                        <i>2497 см3</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Максимальная мощность (кВт):</b>
                    </td>
                    <td>
                        <i>183 кВт</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Мощность (л.с.):</b>
                    </td>
                    <td>
                        <i>249 л.с.</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Об/мин при максимальной мощности:</b>
                    </td>
                    <td>
                        <i>5400 об/мин</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Крутящий момент:</b>
                    </td>
                    <td>
                        <i>360 Нм</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Об/мин при максимальном крутящем моменте:</b>
                    </td>
                    <td>
                        <i>1800,0 - 4200,0 об/мин</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Тип топлива:</b>
                    </td>
                    <td>
                        <i>Бензин</i>
                    </td>
                </tr>
            </table>
        </div>
</div>
<div class="longDescriptiondiv">
            <h4>Подробное описание товара</h4>
            <p class="longDescription">
                Самым большим достижением шведов в данном авто можно смело считать возможность оснащения XC60 всеми
                системами
                безопасности в базовой комплектации. Система City Safe следит за расстоянием между аVтомобилями и при
                аварийном
                сближении с другим транспортным средством автоматически затормозит и предотвратит столкновение.
                Разработанная
                Volvo передовая система безопасности мониторинга «мертвых зон» (BLISS) с цифровыми камерами и
                современным
                программным обеспечением постоянно следит за «мертвыми зонами». DSTC — система динамической стабилизации
                и
                контроля тяги. RSC — технология, предотвращающая опрокидывание аVтомобиля. HDS — система, контролирующая
                движение машины на спуске. Дополняют картину камера заднего вида, облегчающая парковку, и электронное
                устройство
                стабилизации прицепа (Trailer Stability Assist).

                На российском рынке XC60 пока предлагается только с двумя силовыми агрегатами. Шестицилиндровый
                3,0-литровый
                бензиновый двигатель Т6 мощностью 285 л.с. с двумя системами постоянного изменения фаз
                газораспределения.
                Мотор
                предлагается с шестиступенчатой автоматической трансмиссией Geartronic. Время разгона от 0 до 100 км/час
                составляет 7.5 секунды. Для ценителей дизельных версий предлагается полностью алюминиевый
                пятицилиндровый
                турбированный дизельный двигатель D5 объемом 2,4 литра мощностью 185 л.с. Этот мотор агрегатируется с
                шестиступенчатой механической КПП или шестиступенчатой автоматической трансмиссией Geartronic.

                В качестве конкурентов Volvo XC60 рассматриваются BMW X3, Mercedes GLK и Audi Q5
            </p>
        </div>
{% endblock %}

